@charset "UTF-8";
		* {
			margin: 0;
			padding:0;
			box-sizing: border-box;
		}
		body{
		font-family: 'Roboto', sans-serif;
		}
		

#web {  
display: grid;
grid-template-columns: 50px 710px 1fr;
grid-template-rows: 50px 80px 130px 170px 40px 122px;

 }
#header {
	width: 760px; 
	height: 0px;
	border-right: 80px solid transparent;
	border-bottom: 595px solid #DB5461;

}

#header img { 
	
margin-left:50px;
margin-top: 50px; 
	 }

#menu {
	margin-top: -50px;
	margin-left: -80px;
	grid-column: 3/4;
	grid-row: 2/3;
	width: 680px;
	height: 500px;
	background-image: url("img/background_header.jpg");
	background-size:100%;
	background-repeat: no-repeat;
}
 
#menu nav {  
	margin-left: 50px;
	margin-top: 30px;
	float: right;
	margin-bottom: 700px;
	padding: 0;
	
	 }

#menu li { 
	display: inline;

 }


#principal { 

		grid-row: 4/5;
		grid-column: 2/3;

 }
#principal h1 {

	color: white;
}
#footer {  

grid-column: 1/4;
grid-row: 6/7;
background-color: #30343F;
 }

#secundario {

}