div { width: 100%;
      height: 21%;
      background-color: grey;
      }
body { background-color: black}
h1 { width:150px;
       background-color: aqua;
       border:
       5px solid black;
       border-radius: 15px;
       animation-name: Ejemplo;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       position: absolute;
     }

@keyframes Ejemplo {

    0% { 
        left: 0rem;
        top: 0rem;
        transform: rotate(0deg);
        opacity: 25%; 
    }

    10% { left: 25%;
           top: 0rem;
           transform: rotate(250deg); background-color: pink;
           opacity: 100%;}

    20% { left: 50%;
          top: 15rem;
          transform: rotate(-250deg);
          background-color: brown;
          opacity: 50%; }
    
    30% { left: 75%;
           top: 15rem;
           transform: rotate(1000deg);
           height: 35%; background-color: coral;
           opacity: 75%; }

    40% { left: 60%;
            top: 25rem;
            transform: rotate(-10000deg); background-color: darkgray;
            opacity: 10%; }

    50% { left: 10%;
                top: 12rem;
                transform: rotate(12deg);
                background-color: rgb(207, 206, 206);
                opacity: 60%; }

    60% { left: 99%;
    top: 120rem;
    transform: rotate(15deg); background-color: lime;
    opacity:90% ;}

    70% { 
        left: 0rem;
        top: 0rem;
        transform: rotate(1200deg); background-color: limegreen;
        opacity: 150%;
    }

    80% { left: 25%;
           top: 0rem;
           transform: rotate(100deg); background-color: forestgreen;
           opacity:20%;}

    90% { left: 21%;
          top: 30rem;
          transform: rotate(1000deg); background-color: rgb(23, 90, 23);
        opacity: 45%; }
    
    100% { left: 100%;
           top: 0rem;
           transform: rotate(1000deg);
           height: 35%; background-color: rgb(12, 48, 12);
           opacity: 100%; }

}